.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #808080;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1001;
    display: flex;
    align-items: center;
  }
 