* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --color-principal: #05d205; */
  --color-principal: #18d26e;
  --color-white: #ffffff;
  --color-dark: #252525;
  --fontTitulos: "Oswald", sans-serif;
  --fontText: "Inconsolata", monospace;
  --menu: #00000097;
}

.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.437), #000000d2),
    url("/assets/img/fondo-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.size-icon {
  font-size: 1.4rem;
}
.menu {
  font-family: var(--fontTitulos);
  background-color: var(--menu);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
  transition: 0.5s;
}
.menu-toggle {
  display: none;
}
.menu__titulo {
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
  color: var(--color-principal);
}
/* ===Boton====*/
.btn__contactame {
  border: 1px solid var(--color-principal);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--fontText);
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color-principal);
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.btn__contactame::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 350%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--color-principal);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn__contactame:hover::before {
  width: 150%;
}
.btn__contactame:hover {
  color: var(--color-dark);
}

/* ========================== */

.html5 {
  position: absolute;
  top: -55px;
}
.html5 i,
.fa-html5 {
  color: #d84924;
  /* text-shadow: 25px -30px 2px #d84924; */
}
.css3 {
  position: absolute;
  right: -55px;
  bottom: 100px;
  transform: rotate(90deg);
}
.css3 i,
.fa-css3-alt {
  color: #2449d8;
  /* text-shadow: 25px -30px 2px #2449d8; */
  /* filter: drop-shadow(0px 0px 10px #2449d8); */
}
.js {
  position: absolute;
  left: -55px;
  bottom: 100px;
  transform: rotate(-90deg);
}
.js i,
.fa-js {
  color: #ead41c;
  /* text-shadow: 25px -30px 2px #ead41c; */
}
.bootstrap {
  position: absolute;
  bottom: -55px;
  color: #804bcd;
  transform: rotate(-180deg);
}
.bootstrap i,
.fa-bootstrap {
  color: #804bcd;
  /* text-shadow: 25px -30px 2px #804bcd; */
}
.fa-github {
  color: #502677;
}
.fa-sass {
  color: #c26191;
}
.brans {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ff0066; */
  box-shadow: 0 0 10px #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.brans i {
  position: relative;
  font-size: 1.8rem;
  right: -5px;
}
.girar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 80px;
  border: 1px solid #ffffff3a;
  border-radius: 100%;
  animation-name: girar;
  animation-duration: 50s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
/*  =============================  */
.main {
  margin-top: 50px;
  position: fixed;
  width: 100%;
  height: 100vmax;
  /* background-color: #1771e6; */
}
.main__content {
  display: grid;
  place-content: center;
  place-items: center;
  margin: 0px 10px;
  margin: auto;
  max-width: 70rem;
  height: 82vh;
}
.main__content .title {
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  text-align: center;

  color: var(--color-white);
  text-shadow: 1px 1px 2px #ff0066;
  /* background-color: #18d26e; */
}
.main__content .main__content-p {
  font-family: var(--fontText);
  font-weight: 600;
  color: var(--color-white);
}
.main__content .sub-titulo {
  font-family: var(--fontTitulos);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #ff0066;
}

.header__detalles {
  text-align: center;
  white-space: nowrap;
  width: 20ch;
  animation: tipear 3s steps(18), caminar 0.5s step-end alternate;
  overflow: hidden;
  margin: auto;
}

.content__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
}
.content__img img {
  min-width: 10rem;
  max-width: 18rem;
  border-radius: 100%;
  object-fit: contain;
  padding: 8px;
}
.contactame__info {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

/* ===============Sobre Mi================== */

.container {
  background-color: var(--color-white);
  margin-bottom: 50px;
}

.info__container {
  padding: 0 15px;
  font-family: var(--fontText);
  font-weight: 600;
  text-align: center;
}
.info__container i {
  font-size: 20px;
}
.info__container h2,
.h2 {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: var(--fontTitulos);
  color: var(--color-principal);
  box-shadow: 2px 2px 4px #b9b8b8, -2px -2px 4px #b9b8b8;
  margin: auto;
}
.info__container .name {
  font-family: var(--fontTitulos);
  color: var(--color-principal);
}
.info__container .bordes {
  display: inline-flex;
  align-items: center;
}
.info__container .bordes::before {
  content: "------";
  font-weight: bolder;
  font-size: 25px;
  color: var(--menu);
}
.info__container .bordes::after {
  content: "------";
  font-weight: bolder;
  font-size: 25px;
  color: var(--menu);
}
.info__habilidades,
.habilidades__responsive {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 2px 2px 2px #b9b8b8, -2px -2px 4px #b9b8b8;
  padding: 20px 0;
  margin: 20px 0;
  border-radius: 0.5rem;
}
.habilidades__item {
  border-left: 5px solid var(--color-principal);
  border-right: 2px solid var(--color-dark);
  border-radius: 0.3rem;
}

.responsive-item {
  border-left: 5px solid var(--color-dark);
  border-right: 2px solid var(--color-principal);
  border-radius: 0.5rem;
  padding: 10px 20px;
}
.habilidades__item:hover {
  border-left: 5px solid var(--color-dark);
  border-right: 2px solid var(--color-principal);
  border-radius: 0.3rem;
  transition: ease 0.5s;
}
.responsive-item:hover {
  border-left: 5px solid var(--color-principal);
  border-right: 2px solid var(--color-dark);
  border-radius: 0.5rem;
  transition: ease 0.5s;
}
.habilidades__item i,
.habilidades__responsive i {
  font-size: 2.5rem;
  padding: 10px;
}
/* ============ REDES SOLCIALES=========== */

.linkedin i {
  color: #2449d8;
  font-size: 1.4rem;
}
.whatsapp i {
  color: #00ff77;
  font-size: 1.4rem;
}
.instagram i {
  color: #db038f;
  font-size: 1.4rem;
}

.facebook i {
  color: #1771e6;
  font-size: 1.4rem;
}
.linkedin {
  border-right: 2px solid var(--color-white);
  border-left: 4px solid #2449d8;
}
.whatsapp {
  border-right: 2px solid var(--color-white);
  border-left: 4px solid #00ff77;
}
.instagram {
  border-right: 2px solid var(--color-white);
  border-left: 4px solid #db038f;
}
.facebook {
  border-right: 2px solid var(--color-white);
  border-left: 4px solid #1771e6;
}

.info__cuentas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 60%;
}

.info__cuentas a {
  text-align: center;
  padding: 10px 5px;
  border-radius: 5px;
}
.info__cuentas .fa-brands {
  position: relative;
  right: -5px;
}
.info__cuentas a:hover {
  border-right: 2px solid var(--color-principal);
  border-left: 4px solid var(--color-dark);
  transition: ease-out 0.5s;
}
.info__cuentas .whatsapp:hover {
  border-right: 2px solid #00ff77;
  border-left: 4px solid var(--color-dark);
  transition: ease-out 0.5s;
}
.info__cuentas .linkedin:hover {
  border-right: 2px solid #1771e6;
  border-left: 4px solid var(--color-dark);
  transition: ease-out 0.5s;
}
.info__cuentas .instagram:hover {
  border-right: 2px solid #db038f;
  border-left: 4px solid var(--color-dark);
  transition: ease-out 0.5s;
}
.info__cuentas .facebook:hover {
  border-right: 2px solid #1771e6;
  border-left: 4px solid var(--color-dark);
  transition: ease-out 0.5s;
}
.info__lenguaje-item i {
  color: var(--color-dark);
}

.parrafo {
  margin: 20px 0;
  text-align: start;
  font-size: 1.2rem;
}
.habilidades__responsive i {
  color: var(--color-dark);
}

.proyectos__item .pro__pro {
  display: flex;
  align-items: center;
  text-align: start;
  margin: 8px 0;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 1.3rem;
}
.proyectos__item {
  display: block;
}
.proyectos__item .pro__pro i {
  color: var(--color-dark);
}
.proyectos__item .proyect {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.Proyectos {
  margin: 20px 0;
  padding: 10px 0;
}
.proyectos__item .pro__pro:hover {
  color: var(--color-principal);
  transition: all 0.3s;
}
/* ============ PROYECTOS =========== */
.menu__top {
  display: flex;
  justify-content: right;
  width: 80%;
  margin: 10px auto;
  padding: 10px 0;
}
.menu__top-item {
  list-style: none;
  font-family: var(--fontText);
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  text-transform: uppercase;
}
.menu__top-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);
}
.menu__top-item a:hover {
  transition: ease 0.3s;
  color: var(--color-principal);
  text-decoration: underline;
}
.header__link {
  margin-top: 20px;
  font-family: var(--fontTitulos);
}
.header__proyecto {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.header__color {
  background-image: linear-gradient(
    to left,
    var(--color-dark) 50%,
    var(--color-white) 100%
  );
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
  margin: auto;
}
.header__title {
  font-family: var(--fontTitulos);
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.header__title .title {
  color: var(--color-dark);
  box-shadow: 0 0 10px 4px var(--color-dark);
  text-shadow: 2px -2px var(--color-white);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
  margin: auto;
}
.pro__top {
  margin-right: 100px;
}
.pro__img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.link__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.link__item {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
}
.link__item:hover {
  color: var(--color-principal);
  text-decoration: underline 2px;
  /* border-bottom-style: dotted; */
  transition: all 0.3s;
  cursor: pointer;
}
.proyecto__container::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--color-principal);
  position: absolute;
  transform: translateX(50%);
}
.proyecto__container::before {
  content: "VER PROYECTO...";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--fontText);
  font-weight: bold;
  color: var(--color-principal);
  position: absolute;
  font-size: 1.6rem;
  text-shadow: 1px 1px 25px var(--color-principal);
  transform: scale(1);
}
.proyecto__container:hover::before {
  opacity: 0;
  transition: ease-out 0.5s;
}

/* ==== */

.proyecto__container {
  display: flex;
  max-width: 26.5rem;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
}

.poryecto__content {
  border-left: 5px solid #00ff77;
  position: absolute;
  background-color: var(--menu);
  padding: 10px;
  height: 100%;
  font-family: var(--fontText);
  transform: translateY(100%);
  transition: all 0.5s;
  color: var(--color-white);
}
.proyecto__container:hover .poryecto__content {
  transform: translateY(15%);
  transition: all 0.8s;
}

.link-pro:hover {
  color: var(--color-principal);
  transition: all 0.3s;
}

.link-pro {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 8px 0;
  font-size: 1rem;
  color: var(--color-white);
  font-family: var(--fontTitulos);
  font-weight: bolder;
}

.link-pro i {
  color: var(--color-principal);
}

.pro__img {
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 15px;
}

.proyecto__item-1 h3 {
  margin: 8px 0;
}
.title-pro {
  font-family: var(--fontTitulos);
  text-align: center;
  color: var(--color-principal);
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.parrafo-pro {
  margin: 5px 0;
}
/* ===CONTACTAME=== */
.main__contactame {
  background-color: var(--color-white);
}
.pro__contactame {
  background-color: var(--color-dark);
  padding: 40px 0;
  font-family: var(--fontText);
  text-align: center;
}

.pro__contactame a {
  text-decoration: none;
  font-family: var(--fontTitulos);
  color: var(--color-white);
}
.pro__title {
  font-family: var(--fontTitulos);
  color: var(--color-principal);
  letter-spacing: 4px;
  border-bottom-style: double;
  display: inline;
}
.form__contactame {
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  outline: thick double #00ff77;
  padding: 20px;
}
.form__item {
  margin: 20px 0;
}
.form__item label {
  display: flex;
  padding: 0 5px;
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--fontTitulos);
  text-align: left;
}
.form__item input {
  width: 100%;
  font-family: "Arial";
  margin: 5px 0;
  outline-color: #00ff77;
  border-radius: 5px;
  padding: 12px 5px;
  color: var(--color-dark);
}
textarea {
  width: 100%;
  height: 100px;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  color: var(--color-dark);
  font-family: "Arial";
}
.form__buttom {
  margin: 20px 0;
}
.btn__enviar {
  background-color: transparent;
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--fontTitulos);
  border-radius: 8px;
  padding: 10px;
  width: 50%;
  position: relative;
  border: 3px ridge var(--color-principal);
}
.btn__enviar::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--color-dark);
  transition: 0.5s;
  transform-origin: center;
}

.btn__enviar::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--color-dark);
  transition: 0.5s;
}

.btn__enviar:hover::before,
.btn__enviar:hover::after {
  transform: scale(0);
}

.btn__enviar:hover {
  box-shadow: inset 0px 0px 25px var(--color-principal);
}
.pro__text {
  font-weight: bolder;
  color: var(--color-principal);
  font-size: 2.5rem;
  font-family: var(--fontTitulos);
}
.form__cta {
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #00ff77;
  border-bottom: 7px solid #00ff77;
  border-radius: 5px;
  width: 80%;
}
.form__cta a {
    text-decoration: none;
  font-family: var(--fontText);
  color: var(--color-dark);
  font-size: 1.8rem;
  font-weight: bold;
}
.form__cta .parrafo {
  font-size: 1.4rem;
  padding: 20px 0;
  font-weight: 600;
  color: var(--color-white);
}
.form__cta .p__pro {
  color: var(--color-principal);
  font-weight: bolder;
  font-size: 1.6rem;
}

.main__correo,
.main__redes {
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  border-radius: 10px;
  padding: 25px 10px;
  color: var(--color-white);
  margin: 25px 0;
}
.cta {
  display: block;
  padding: 10px;
  border-radius: 100%;
  font-size: 1.8rem;
  border: 2px solid #00ff77;
  color: var(--color-white);
  margin-right: 10px;
  cursor: pointer;
}
.fa-share-nodes {
  position: relative;
  padding-right: 12.5px;
}
textarea {
  padding: 5px;
}
.main__correo-item .gmail {
  font-family: "Arial";
  user-select: none;
  text-decoration: none;
  color: inherit;
}
.sub__title {
  font-family: var(--fontTitulos);
  user-select: none;
}
.redes__sociales a {
  display: inline-flex;
  font-size: 1.6rem;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  padding: 10px 5px;
  text-decoration: none;
}
.redes__sociales i {
  position: relative;
  right: -5px;
}

.pro__title {
  font-size: 2.5rem;
}

/* ================= FOOTER ====================== */

footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0%;
  padding: 10px 0;
  background-color: var(--menu);
  z-index: 950;
}
footer div {
  font-family: var(--fontTitulos);
  color: var(--color-white);
}
footer div a,
i {
  font-family: var(--fontTitulos);
  color: var(--color-principal);
  padding-right: 10px;
  text-decoration: none;
}
