* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-principal: #18d26e;
  --color-white: #fff;
  --color-dark: #252525;
  --fontTitulos: "Oswald", sans-serif;
  --fontText: "Inconsolata", monospace;
}
.menu {
  font-family: var(--fontTitulos);
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.menu-toggle img {
  width: 35px;
}
.menu-toggle {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.menu__titulo {
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
  color: var(--color-principal);
}
.menu__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}
.nav__collapse {
  width: 100%;
  transition: 0.5s;
}
.nav__collapse-inactive {
  display: none;
  transition: 0.5s;
}
.nav__collapse .nav__content .nav__links a {
  text-decoration: none;
  list-style: none;
  font-size: 1.4rem;
  color: var(--color-white);
  text-transform: capitalize;
}
.nav__collapse .nav__content .nav__links {
  margin: 8px 0;
}
.nav__collapse .nav__content .nav__links a:hover {
  color: var(--color-principal);
  transition: all 0.3s;
  border-bottom: 2px solid var(--color-white);
}
/*  =============================  */
.main {
  background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.887)),
      url("../img/fondo.jpg");
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 26%;
  height: 100vh;
  
}
.main__content {
  display: grid;
  place-content: center;
  place-items: center;
  margin: 0px 10px;
}
.main__content .title {
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--color-white);
  text-shadow: 1px 1px 2px #ff0066;
}
.main__content .main__content-p {
  font-family: var(--fontText);
  font-weight: 600;
  margin: 20px 0;
  font-size: 1.4rem;
  color: var(--color-white);
  text-shadow: 1px 1px 1px #18d26e;
}
.main__content .sub-titulo {
  font-family: var(--fontTitulos);
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color:rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #ff0066;
  /* text-decoration: underline var(--color-dark); */
}
.content__img {
}
.content__img img {
  width: 12rem;
  border-radius: 100%;
  object-fit: cover;
}
.main .mas {
  background-color: var(--color-principal);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: var(--fontText);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: initial;
  font-size: 1.4rem;
  margin: 20px 0;
}
.mas:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: all 0.5s;
}
