* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-principal: #18d26e;
  --color-white: #fff;
  --color-dark: #252525;
  --fontTitulos: "Oswald", sans-serif;
  --fontText: "Inconsolata", monospace;
  --menu: #0000006e;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.437), #000000d2),
    url("/assets/img/fondo-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
  font-family: var(--fontTitulos);
  background-color: var(--menu);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
}
.menu-toggle i {
  color: var(--color-white);
  font-size: 2rem;
}
.menu-toggle {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}
.menu__titulo {
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
  color: var(--color-principal);
}
.menu__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.nav__collapse {
  width: 100%;
  transition: 0.5s;
}
.nav__collapse-inactive {
  display: none;
  transition: 0.5s;
}
.nav__collapse .nav__content .nav__links a {
  text-decoration: none;
  list-style: none;
  font-size: 1.4rem;
  color: var(--color-white);
  text-transform: capitalize;
}
.nav__collapse .nav__content .nav__links {
  margin: 8px 0;
}
.nav__collapse .nav__content .nav__links a:hover {
  color: var(--color-principal);
  transition: all 0.3s;
  border-bottom: 2px solid var(--color-white);
}
/* ========================== */
.fa-html5 {
  position: absolute;
  top: -50px;
  font-size: 3rem;
  color: #d84924;
}
.fa-css3-alt {
  position: absolute;
  right: -50px;
  color: #2449d8;
  font-size: 3rem;
  transform: rotate(90deg);
}
.fa-js {
  position: absolute;
  left: -52px;
  color: #ead41c;
  font-size: 3rem;
  transform: rotate(-90deg);
}
.fa-bootstrap {
  position: absolute;
  bottom: -50px;
  color: #804bcd;
  font-size: 3rem;
}
.girar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  animation-name: girar;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}

/*  =============================  */
.main {
  margin-top: 60px;
  width: 100%;
}
.main__content {
  display: grid;
  place-content: center;
  place-items: center;
  margin: 0px 10px;
}
.main__content .title {
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  text-align: center;
  padding-top: 40px;
  margin: 0;
  color: var(--color-white);
  text-shadow: 1px 1px 2px #ff0066;
}
.main__content .main__content-p {
  font-family: var(--fontText);
  font-weight: 600;
  margin: 20px 0;
  font-size: 1.4rem;
  color: var(--color-white);
  /* text-shadow: 1px 1px 1px #18d26e; */
}
.main__content .sub-titulo {
  font-family: var(--fontTitulos);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #ff0066;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;
  animation: tipear 2s steps(18), caminar 0.5s step-end alternate;
  /* text-decoration: underline var(--color-dark); */
  overflow: hidden;
}
@keyframes tipear {
  from {
    width: 0;
  }
}
@keyframes caminar {
  50% {
    border: transparent;
  }
  100% {
    border-right: red;
  }
}

.content__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
}
.content__img img {
  width: 12rem;
  border-radius: 100%;
  object-fit: cover;
}
.main .mas {
  background-color: var(--color-principal);
  padding: 8px 20px;
  border-radius: 5px;
  font-family: var(--fontText);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: initial;
  font-size: 1rem;
}
.mas:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: all 0.5s;
}
/* ================= FOOTER ====================== */
footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0%;
  padding: 14px 0;
  background-color: var(--menu);
}
footer div {
  font-family: var(--fontTitulos);
  color: var(--color-white);
}
footer div a,
i {
  font-family: var(--fontTitulos);
  color: var(--color-principal);
  padding-right: 10px;
  text-decoration: none;
}
