
@media only screen and  (min-width: 1025px){
  .menu-toggle {
    display: none;
  }
  .menu__titulo{
    margin-left: 30px;
  }
  .menu__content {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
 
  }
  .nav__collapse {
    width: 50%;
  }
  .nav__collapse .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav__links,
  a {
    list-style: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  .nav__collapse .nav__content .nav__links a:hover {
    color: var(--color-principal);
    transition: all 0.3s;
    border-bottom: 2px solid var(--color-white);
  }
  /*  =============================  */
    .main__content {
    display: grid;
    place-items: center;
    place-content: center;
        grid-template-columns: repeat(2,1fr);
     }
  .main__content .title {
    font-family: var(--fontTitulos);
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    color: var(--color-white);
    text-shadow: 1px 1px 2px #ff0066;
  }
  .sub-titulo{
    font-size: 2.5rem;
  }
  .main__content .main__content-p {
    font-family: var(--fontText);
    font-weight: 600;
    margin: 40px 0;
    font-size: 1.4rem;
    color: var(--color-white);
    /* text-shadow: 1px 1px 1px #18d26e; */
  }

  .main .mas {
    background-color: var(--color-principal);
    padding: 10px 50px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: var(--fontText);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: initial;
    font-size: 1rem;
  }
  .mas:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
    transition: all 0.5s;
  }
}
