@media screen and (min-width: 320px) and (max-width: 750px) {
  .menu-toggle i {
    color: var(--color-white);
    font-size: 2rem;
    position: relative;
    right: -5px;
  }
  .menu-toggle {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    border: 1px solid #e3e1e1;
    border-radius: 5px;
  }
  .menu-toggle i:hover {
    transition: 0.3s;
    color: #949494;
  }
  .menu-toggle:hover {
    transition: 0.3s;
    color: #949494;
    border: 1px solid #949494;
  }
  .menu__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav__collapse {
    width: 100%;
    transition: 0.5s;
  }
  .nav__collapse-inactive {
    display: none;
    transition: 0.5s;
  }
  .nav__collapse .nav__content .nav__links a {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    color: var(--color-white);
    text-transform: capitalize;
  }
  .nav__collapse .nav__content .nav__links {
    margin: 8px 0;
  }
  .nav__collapse .nav__content .nav__links a:hover {
    color: var(--color-principal);
    transition: all 0.3s;
    border-bottom: 2px solid var(--color-white);
  }
  .info__cuentas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 80%;
    margin: auto;
   }
   .info__cuentas i{
    font-size: 1.4rem;
   }
  /*  =============================  */

  .content__img img {
    width: 12rem;
    border-radius: 100%;
    object-fit: contain;
    padding: 8px;
  }
  .main__content {
    display: grid;
    place-content: center;
    place-items: center;
    margin: 0px 10px;
  }
  .content__detalles {
    text-align: center;
    flex-wrap: wrap;
  }

  .content__detalles .title {
    font-family: var(--fontTitulos);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    color: var(--color-white);
      }
  .main__content .main__content-p {
    font-family: var(--fontText);
    font-weight: 600;
    margin: 20px 0;
    font-size: 1.4rem;
    color: var(--color-white);
    
  }

  .main .mas {
    background-color: var(--color-principal);
    padding: 8px 20px;
    border-radius: 5px;
    font-family: var(--fontText);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: initial;
    font-size: 1rem;
    margin: 20px;
  }
  .mas:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
    transition: all 0.5s;
  }
  /* ===============Sobre Mi================== */

  .header__sobreMi {
    position: relative;
    margin-bottom: 10px;
  }
  .header__sobreMi img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  .header__detalles {
    display: grid;
    place-content: center;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 100;
    background-color: var(--menu);
    backdrop-filter: blur(3px);
    color: var(--color-white);
    font-family: var(--fontTitulos);
    border: 1px solid var(--color-white);
    width: 85%;
    height: 70%;
    border-radius: 10px;
    font-size: 1.2rem;
  }
  .header__detalles h2 {
    text-shadow: 0 0 3px var(--color-principal);
  }
  
  .container__sobre-mi {
    display: grid;
    place-content: center;
    max-width: 600px;
    min-width: 320px;
    margin: auto;
    border-left: 8px solid var(--color-principal);
    border-radius: 15px;
    padding: 0 10px ;
   
  }
  .parrafo {
    margin: 20px 0;
    text-align: start;
    font-size: 1em;
  }
  .text {
    box-shadow: 2px 2px 2px #b9b8b8, -2px -2px 4px #b9b8b8;
    padding: 10px;
    border-radius: 0.5rem;
  }
  .info__habilidades,
  .habilidades__responsive {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 2px 2px 2px #b9b8b8, -2px -2px 4px #b9b8b8;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 0.5rem;
  }
  .habilidades__item {
    border-left: 4px solid var(--color-principal);
    border-right: 1px solid var(--color-dark);
    border-radius: 0.3rem;
  }
  .habilidades__item i,
  .habilidades__responsive i {
    font-size: 2rem;
    padding: 10px;
  }
  .proyectos__item {
    text-align: start;
    margin: 15px 0;
  }
}
