@media screen and (min-width: 751px) and (max-width: 1024px) {
  .menu-toggle {
    display: none;
  }
  .menu__content {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .nav__collapse {
    width: 50%;
  }
  .nav__collapse .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav__links,
  a {
    list-style: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .nav__collapse .nav__content .nav__links a:hover {
    color: var(--color-principal);
    transition: all 0.5s;
    border-bottom: 2px solid var(--color-white);
  }
  /*  =============================  */
  .main {
    margin-top: 60px;
    width: 100%;
  }
  .main__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main__content .title {
    font-family: var(--fontTitulos);
    font-size: 2.5rem;
    text-align: center;
    /* padding-top: 50px; */
    margin: 0;
    color: var(--color-white);
    text-shadow: 1px 1px 2px #ff0066;
  }
  .main__content .main__content-p {
    font-family: var(--fontText);
    font-weight: 600;
    margin: 25px 0;
    font-size: 1.4rem;
    color: var(--color-white);
    /* text-shadow: 1px 1px 1px #18d26e; */
  }
  .content__img img {
    min-width: 8rem;
    max-width: 16rem;
    border-radius: 100%;
    object-fit: cover;
    padding: 8px;
  }
  .contactame__info .mas {
    background-color: var(--color-principal);
    padding: 8px 20px;
    border-radius: 5px;
    font-family: var(--fontText);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: initial;
    font-size: 1rem;
  }
  .mas:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
    transition: all 0.5s;
  }
  /* ===============Sobre Mi================== */

  .header__sobreMi {
    position: relative;
    margin-bottom: 20px;
  }
  .header__sobreMi img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
  .header__detalles {
    display: grid;
    place-content: center;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 100;
    background-color: var(--menu);
    backdrop-filter: blur(3px);
    color: var(--color-white);
    font-family: var(--fontTitulos);
    border: 1px solid var(--color-white);
    width: 50%;
    height: 60%;
    border-radius: 10px;
    font-size: 1.2rem;
  }
  .header__detalles h2 {
    text-shadow: 0 0 3px var(--color-principal);
  }

  .container__sobre-mi {
    display: grid;
    place-content: center;
    max-width: 700px;
    min-width: 320px;
    margin: auto;
    border-left: 8px solid var(--color-principal);
    border-radius: 15px;
    padding: 10px 0 0 40px;
  }
  .parrafo {
    margin: 20px 0;
    text-align: start;
  }
  .text {
    box-shadow: 2px 2px 2px #b9b8b8, -2px -2px 4px #b9b8b8;
    padding: 10px;
    border-radius: 0.5rem;
  }
  .info__habilidades,
  .habilidades__responsive {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 2px 2px 2px #b9b8b8, -2px -2px 4px #b9b8b8;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 0.5rem;
  }
  .habilidades__item {
    border-left: 4px solid var(--color-principal);
    border-right: 1px solid var(--color-dark);
    border-radius: 0.3rem;
  }
  .habilidades__item i,
  .habilidades__responsive i {
    font-size: 2rem;
    padding: 10px;
  }
  .proyectos__item a {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 5px 0;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 700;
  }
  .proyectos__item {
    display: block;
  }
  .proyectos__item a i {
    color: var(--menu);
  }
  .proyectos__item a i:hover {
    color: var(--color-dark);
    transition: all 0.3s;
  }
  .proyectos__item a:hover {
    color: var(--color-principal);
    transition: all 0.3s; 
  }
  /* ============ PROYECTOS =========== */

  .proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 12px;
    margin: 20px 10px;
  }

  .link__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .proyecto__container:hover .poryecto__content {
    transform: translateY(18%);
    transition: all 0.8s;
  }
  .main__cta iframe{
    width: 100%;
  }
  .main__cta{
    width: 80%;
    margin: auto;
  }
  .form__contactame{
    width: 80%;
    margin:20px auto;
   
  }
  .proyectos .pro__contactame{
    width: 50%;
    background-color: #ff0066;
  }
  .pro__contactame {
    background-color: var(--color-dark);
    width: 100%;
    padding: 12px;
  }
}
